version: "3.8"

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: api-server
    command: ["npm", "run", "start:api"]   # or "node dist/index.js"
    ports:
      - "4000:8000"
    env_file:
      - .env 
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis

  worker:
    build: .
    container_name: email-worker
    command: ["npm", "run", "start:worker"]   # or "node dist/worker/emailWorker.js"
    env_file:
      - .env 
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
